button:disabled, button[disable=disable] {
    background-color: #D7d7d7;
    cursor: not-allowed;
}

.formulario {
    width: 100%;
    height: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.status-CANCELADO {
    color: rgb(182, 36, 36);
}
.status-CONFIRMADA {
    color: rgb(14, 126, 14);
}
.status-PENDENTE {
    color: rgb(202, 166, 48);
}

